<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav nav-pills">

      <li class="nav-link"><a class="nav-link" routerLink="./homePage">Home </a></li>
      <li class="nav-link"><a class="nav-link " routerLink="./ourTrips">Our Trips</a></li>     
      <li class="nav-link"><a class="nav-link" routerLink="./" (click)="click()"  > אזור אישי</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<footer style="background-color: rgb(255, 127, 170); width: 100%;"></footer>

